@import "tailwindcss";

@theme {
  --color-primary: #a31621;
  --color-snow: #fcf7f8;
  --color-brown: #dcbca8;
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
  --font-noto: var(--font-nota-sans);
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

@keyframes AutomatedSlide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-1200px);
  }
}

@keyframes AutomatedResponsive {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-752px);
  }
}

@keyframes navbar {
  from {
    width: 0;
    height: 100dvh;
  }
  to {
    width: 100dvw;
    height: 100dvh;
  }
}
@keyframes oppositenavbar {
  from {
    width: 100dvw;
    height: 100dvh;
  }
  to {
    width: 0;
    height: 100dvh;
  }
}

@keyframes enterport {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-slide {
  animation: AutomatedSlide 10s linear 0 infinite;
}

.recharts-wrapper:focus,
.recharts-wrapper *:focus {
  outline: none;
}

.animate-translate {
  animation: navbar 1s ease forwards;
}
.animate-translate-minus {
  animation: oppositenavbar 700ms ease forwards;
}

.animate-enter {
  animation: enterport 2s ease forwards;
}

.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.depth {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
